body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container {
    border: 5px solid rgba(194, 58, 124, 0.5);
    padding: 15px;
    width: 70%;
    margin: auto;
}
#container h1 {
    font-weight: bold;
}
#cabecera {
    background-color: #325191;
    color: #FFFFFF;
    padding: 30px 10px;
    font-size: 30px;
    font-weight: bold;
}